.header{

    background-image: url("/img/fundo.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    width: auto;
    background-color: rgba(158, 155, 155, 0.438);
    height: 810px;
}

.menu_header{
    width: 824px;
    height: 100px;
    background-color: rgba(0, 0, 255, 0.61);
    
}

.info_header{
    width: 824px;
    height: 722px;
    background-color: rgba(27, 49, 49, 0.055);
    
}

.logo{
    width: 60px;
    height: 60px;
}

.texto_menu_header{
    color: cornsilk;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.texto_menu_header ul li{
	width: 200px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	font-size: 24px;
	position: relative;
    font-family: Poppins;
}

.h1_keep{
    width: 486px;
    color: rgba(98,227,149,1);
    font-family: Poppins;
    font-weight: Bold;
    font-size: 30px;
    text-align: left;
}

.h1_solutions{
    width: 486px;
    color: rgb(221, 218, 218);   
    font-weight: Bold;
    font-family: Poppins;
    font-size: 30px;
    text-align: left;
}

.texto_base1{
    width: 516px;
    color: rgba(255,255,255,1);
    font-family: Poppins;
    font-weight: Bold;
    font-size: 20px;
    text-align: left;
}

.texto_base2 {
    width: 486px;
    color: rgba(98,227,149,1);
    font-family: Poppins;
    font-weight: Bold;
    font-size: 30px;  
    text-align: left;
}

.botao_saibamais {
    background-color: rgb(98, 227, 149);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    color: rgba(0,0,0,1);
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 24px;
    
    text-align: left;
}

.corpo{
    width: auto;
    height: 2365px;
    background: linear-gradient(rgba(16,28,50,1), rgba(14,8,20,1));
}

.titulo_pg{
    width: 486px;
    color: rgba(98,227,149,1);
    font-family: Poppins;
    font-weight: Bold;
    font-size: 30px;
    
    text-align: left;
}

.card_full_direita{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
  
}
.card_direita{
    width: 541px;
    height: 337px;
    background-color: rgb(59, 53, 53);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: auto;
}

.card_full_esquerda{
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}
.card_esquerda{
    width: 541px;
    height: 337px;
    background-color: rgb(59, 53, 53);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}

.nome{
    color: rgba(255,255,255,1);
    font-family: Poppins;
    font-weight: Bold;
    font-size: 30px;
    
    text-align: left;
}

.titulo{
    color: rgba(255,255,255,0.699999988079071);
    font-family: Poppins;
    font-weight: Bold;
    font-size: 14px;
    
    text-align: left;
}

.skills{
    background-color: rgb(98, 227, 149);
    color: rgba(255,255,255,1);
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 14px;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
}

.foto_membro_direita{
    width: 287px;
    height: 337px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}

.foto_membro_esquerda{
    width: 287px;
    height: 337px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

}

.OkEntregas{
    background-color: grey;
    width: 715px;
    height: 272px;
}

.rodape{
    background: linear-gradient(rgba(16,28,50,1), rgba(14,8,20,1));
}